<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Photos Page</title>
</head>
<body>
<h1>Photos Index Page</h1>
<% for(let i=0; i<photos.length; i++){%>
<a href="/photos/<%=photos[i]%>"></a>
<%}%>
<a href='/photos/new'>New Photos</a>  

    
</body>
</html>