<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Edit Page</h1>

    <select name="users">
    <%for (let i = 0; i < users.length; i++) { %>
       <option value="<%=users[i].id%>"><%=users[i].name%></option>
       <input type="text" name="title" /><br/>
       <%}%> 
</body>
</html>


<!--form action="/articles/<,article._id>?_method=PUT" method=POST>
select name="authorID">
<& for let i =  0 i <authors.length; i++ {>
<option value="<% authors[i].id>" selected
    <%if(authors[i]._id.toString() ===articleAuthor._id.toString())%>)
    ></option>} 
    // <% for(let i=0; i<users.length; i++){%>
// <a href="/users/<%=users[i]%>"></a>
//    <a href="/users/<%=users[i]._id%>/edit">Improve name</a>
<%}%>-->