<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index Page</title>
</head>
<body>
<h1>Index Page</h1>
<% for(let i=0; i<users.length; i++){%>
<a href="/users/<%=users[i]%>"></a>
    <%}%>
<a href="/monsters/<%=monsters[i]._id%>/edit">Improve name</a>
<a href='/monsters/new'>New monster</a> 
    
</body>
</html>
